@import url(./index.css);

.section_login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    width: 40%;
    height: 100%;
    
    background-color: #276161;
    border-radius:0.5vw;
}

.frases_login{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login{
    width: 50%;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 2vh;
}


.titulo_logo{
    color: var(--fonteBtn);
    font-family: var(--fonteTitulo-login);
    font-size: 2vh;
}

.sobretitulo_logo{
    color: var(--fonteBtn);
    font-family: var(--fonteSubtitulo-login);
    font-size: 2vh;
}

#titulo_login{
    color: rgb(35, 113, 181);
    /*color: var(--fonteBtn);*/
    font-family: var(--fonteTitulo-login);
    font-size: 2vh;
}

#paragrafo_login{
    color: rgb(35, 113, 181);
    /*color: var(--fonteBtn);*/
    font-family: var(--fonteSubtitulo-login);
    font-size: 1,6vh;
}

.input{
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.6); /* Branco com leve transparência, peguei do gpt pq não consegui */
    margin-bottom: 0vh;
    margin-top: 2vh;
}

.input i{
    font-size: 2vh;
    border-radius: 2vw solid aliceblue;
    color: aliceblue;
}



#nome_usuario{
    width: 80%;
    background: transparent;
    border: 0;
    pointer-events: auto;
    
    border: 0;
    outline: 0;
}

#telefone_usuario{
    width: 80%;
    background: transparent;
    border: 0;
    pointer-events: auto;
    
    border: 0;
    outline: 0; 
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#email{
    width: 80%;
    background: transparent;
    border: 0;
    pointer-events: auto; 
    
    border: 0;
    outline: 0;
}

#senha{
    width: 70%;
    background: transparent;
    border: 0;
    pointer-events: auto;
    
    border: 0;
    outline: 0;
}

.botao_entrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 0;
    width: 100%;
    border-radius: 0vh;
}

#btn_conta{
    background-color: aliceblue;
    font-family: var(--fonteSubtitulo-login);
    align-items: center;

    border: 0vh;
    border-radius: 1vh;

    margin: 0;
    margin-top: 2vh;
    padding: 1vh;
    width: 60%;
    height: 38%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#frase_entrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.p_entrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 30%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); /* Branco com leve transparência, peguei do gpt pq não consegui */
}

#frase_final{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 1vh;
}

#frase_final a:hover{
    text-decoration: none;
}

#link{
    color: aliceblue;
}

#link:hover{
    color: aqua;
}

.botoes_logar{
    width: 80%;

    margin: 0;
    padding: 0;
    font-family: var(--frase-login);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 0vh; 
    border-radius: 0vw;

    margin-left: 2.5vw;

}

#btn_google{
    background-color: aliceblue;
    margin: 0;
    padding: 1vh;
    font-size: 2.5vh; 
    border-radius: 1vw;
}

#btn_microsoft{
    background-color: aliceblue;
    font-size: 2.5vh; 
    margin: 0;
    padding: 1vh;
    border-radius: 1vw;
}

#btn_iphone{
    background-color: aliceblue;
    font-size: 2.5vh;
    margin: 0;
    padding: 1vh; 

    border-radius: 1vw;
}