#formulario{
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

#formulario_separacao{
    align-items: center;
}

.titulo{
    padding-bottom: 100px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 0px;
    font-size: 22px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sus{
    width: 300px;
}

.formulario_p{
    margin-bottom: 45px;
}

.sobrenome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    width: 300px;
}
/*.name{
    background-color: #599FAE;
    display: table-row;
    align-items: center;
}

#fname{
    background-color: #599FAE;
    color: #599FAE;
    border: 8px;
}

label, input{
    border-radius: 8px;
    border: solid ;
    font-size: 30px;
} */