header{
    width: 100vw;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    text-align: center;
    background-color: #4B685D;
}

.botoesHeader{
    width: 20vw;
    height: 7vh;
    text-align: center;
}

.btn_cabecalho{
    width: 70vw;
    height: 7vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    margin: 4vh;
    padding: 0vh 2vw;
    
    text-transform: none;
    text-decoration: none;

    background-color: var(--fonteBtn);
    color: black;

    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vh; 

    border-radius: 2vw;

    text-align: center;
}

.botoesHeader{
    font-size: 2vh;
    align-items: center;
    text-align: center;

    a{
        text-transform: none;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

.botoesHeader:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/* <header>
    <div class="btn_cabecalho">
        <button class="botoesHeader" id="btn_campanha">Campanha</button>
        <button class="botoesHeader" id="btn_prevencao">Prevenção</button>
        <button class="botoesHeader" id="btn_mapa">Mapa</button>
        <button class="botoesHeader" id="btn_quem_somos">Quem Somos</button>
        <button class="botoesHeader" id="btn_formulario">Formulário</button>
    </div>
</header> */