*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(49, 59, 60);

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-repeat: no-repeat;
}

main{

    margin-top: 14vh;

    width: 90%;
    height: 100%;
    border-radius: 2vw;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}


/* #main {
    overflow: hidden;
    height: 100vh;
}

#banners {
    position: relative;
    top: 0;
    transition: top 0.6s ease;
}

.section {
    height: 100vh;
} */