*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(49, 59, 60);

    width: 100vw;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-repeat: no-repeat;
}

main{

    margin-top: 6vh;

    width: 90%;
    height: 80%;
    border-radius: 5vw;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
