@import url(./header.css);
@import url(./quem_somos.css);
@import url(./formulario.css);
@import url(./index_login.css);
@import url(login.css);
@import url(mostrar.css);
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

:root{
    --fonteTexto: "Inria Sans";
    --fonteTitulo: "Inder" ;

    --fonteBtn: #00BBC0;
}