@import url(./index.css);

#quem-somos{
    background-color: #4B685D;
}

#quem-somos_img{
    padding-left: 20vh;

    border-radius: 4vh;
}

/* #quem-somos{
    display: grid;
    justify-content: space-around;
    grid-column-end: span 3;
} */

.titulo_quem_somos{
    padding-top: 1.5vh;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 4.7vh;
    font-family: var(--fonteTitulo);
}

.quem-somos_separacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2vh;
    justify-items: flex-start;
}

.quem-somos_paragrafo{
    display: block;
    margin-top: 6.5vh;
    padding-right: 26vh;
    align-items: center;
    font-family: var(--fonteTexto);
}

.paragrafo1{
    padding: 0.5vh 13vh 0vh 13vh;
    margin: 1vh 5vh;

    font-weight: bold;
    font-size: 3.5vh;
    font-family: var(--fonteTexto);

    color: #282626;
}

.paragrafo2{
    padding: 0.5vh 13vh 0vh 13vh;
    margin: 1vh 5vh;

    font-weight: bold;
    font-size: 3.5vh;
    font-family: var(--fonteTexto);

    color: #282626;
}
