@import url(./header.css);
@import url(./quem_somos.css);
@import url(./index_login.css);


#Tentativa{

    background-color: saddlebrown;
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(52, 74, 78); */
}

.sla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

/* #main {
    overflow: hidden;
    height: 100vh;
}

#banners {
    position: relative;
    top: 0;
    transition: top 0.6s ease;
}

.section {
    height: 100vh;
} */